<!--View Scraped Articles-->
<div class="container">
	<div class="row">
		<div class="section">
			{{#each article}}
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						{{#unless saved}}
						<img src="{{image}}">
						<a class="btn-floating  btn-large halfway-fab waves-effect waves-light red darken-4" id="bookmark"
							data-id="{{_id}}"><i class="material-icons">bookmark</i></a>
						{{else}}
						<img src="{{image}}">
						<a class="btn-floating btn-large halfway-fab waves-effect waves-light red darken-4" id="saveArticle"
							data-id="{{_id}}"><i class="material-icons">star</i></a>
						{{/unless}}
					</div>
					<div class="card-content">
						<div class="card-title">{{title}}</div>
						<p>{{summary}}</p>
					</div>
					<div class="card-action">
						<a target="_blank" class="red-text text-darken-4" href="https://www.cbc.ca{{link}}">Link to
							article</a>
					</div>

				</div>
			</div>
			{{/each}}
		</div>
	</div>
</div>
